body{
    background-color: #B0B0B0;
}

h2{
    text-align: center;
}

.blue {
    color: red;
}

h1{    
	color: blue;
    border: solid blue 3px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

img{
	width: 100%;
}

p{
	font-size: 22px;
}